@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Mono', sans-serif;
}

body {
  display: grid;
  grid-gap: 15px;
  justify-content: center;
}

h1 {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.pokemons select {
  padding: 2px;
  border: 2px solid;
  border-radius: 2px;
  
  font-family: 'Roboto Mono' ,sans-serif;
  font-size: 14px;
}

.card {
  /* width: 430px;
  height: 300px; */
  padding: 15px;  

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border: 2px solid #000;
}

.atributes {
  display: flex;
  flex-direction: column;
  
  padding: 15px 0 ;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 50%;

  background-color: "#000";
}

.section1 {
  display: flex;
  flex-direction: column;
}

.section2 {
  display: flex;
  justify-content: space-between;
  align-self: end;

}

.image img{
  width: 135px;
  height: 169px;
}